<div id="index">
	<div class="box">
		<div class="row header">
			{{> navbar}}
		</div>
		<div id="map" class="row content">
		</div>
	</div>
</div>

<script>
	// color: #FFFB01;
	// Initialize and add the map
	function initMap() {
		var bounds = new google.maps.LatLngBounds();
		var locations = {{#lengthEqual locations 0}} []; {{else}} {{#stringify locations}}{{/stringify}}; {{/lengthEqual}}
		var userLatLong = {{#objecIsEmpty current}}false{{else}}true{{/objecIsEmpty}};

		// The map
		var map = new google.maps.Map(
			document.getElementById('map'), {
				zoom: 12,
				center: {{#objecIsEmpty current}} {{#lengthEqual locations 0}} new google.maps.LatLng(-34.6036754, -58.3824593) {{else}} new google.maps.LatLng(locations[0].lat, locations[0].lng) {{/lengthEqual}} {{else}} new google.maps.LatLng({{current.lat}}, {{current.long}})  {{/objecIsEmpty}},
			}
		);

		const infowindow = new google.maps.InfoWindow();

		for (var i = 0; i < locations.length; i++) {
			var marker = new google.maps.Marker({
				position: {
					lat: locations[i].lat,
					lng: locations[i].lng,
				},
				map: map
			});

			const infoWindowContent = '<div><p>Reported by ' + locations[i].user.first_name + '</p></div>';

			google.maps.event.addListener(marker, 'click', (function(marker,content,infowindow){
				return function() {
					infowindow.setContent(content);
					infowindow.open(map,marker);
				};
			})(marker,infoWindowContent,infowindow));

			marker.addListener('click', function() {
				infowindow.open(map, this);
			});

			//extend the bounds to include each marker's position
			bounds.extend(marker.position);
		}

		if (!userLatLong && locations.length >= 2) {
			map.fitBounds(bounds);
		}

		function addYourLocationButton (map)
		{
			var controlDiv = document.createElement('div');

			var firstChild = document.createElement('button');
			firstChild.style.backgroundColor = '#fff';
			firstChild.style.border = 'none';
			firstChild.style.outline = 'none';
			firstChild.style.width = '40px';
			firstChild.style.height = '40px';
			firstChild.style.borderRadius = '2px';
			firstChild.style.boxShadow = '0 1px 4px rgba(0,0,0,0.3)';
			firstChild.style.cursor = 'pointer';
			firstChild.style.marginRight = '10px';
			firstChild.style.padding = '0';
			firstChild.title = 'Your Location';
			controlDiv.appendChild(firstChild);

			var secondChild = document.createElement('div');
			secondChild.style.margin = '11px';
			secondChild.style.width = '18px';
			secondChild.style.height = '18px';
			secondChild.style.backgroundImage = 'url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-2x.png)';
			secondChild.style.backgroundSize = '180px 18px';
			secondChild.style.backgroundPosition = '0 0';
			secondChild.style.backgroundRepeat = 'no-repeat';
			firstChild.appendChild(secondChild);

			google.maps.event.addListener(map, 'center_changed', function () {
				secondChild.style['background-position'] = '0 0';
			});

			firstChild.addEventListener('click', function () {
				var imgX = 0,
						animationInterval = setInterval(function () {
							imgX = -imgX - 18 ;
							secondChild.style['background-position'] = imgX+'px 0';
						}, 500);

				if(navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
						var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
						map.setCenter(latlng);
						map.setZoom(17);
						clearInterval(animationInterval);
						secondChild.style['background-position'] = '-144px 0';
					});
				} else {
					clearInterval(animationInterval);
					secondChild.style['background-position'] = '0 0';
				}
			});

			controlDiv.index = 1;
			map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(controlDiv);
		}

		addYourLocationButton(map);
	}
</script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key={{gMapsKey}}&callback=initMap">
</script>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
	 attribution=setup_tool
	 page_id="1960051050953166"
	 logged_in_greeting="Hi!, I'm here to empower your community by helping one another. Talk to me!"
	 logged_out_greeting="Hi!, I'm here to empower your community by helping one another. Talk to me!">
</div>
